*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(24, 23, 23); 
}

header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,7) 10%, rgba(0,0,0,0));
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

.logo{
    width: 120px;
    margin-left: 45px;
    margin-top: -8px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    color: white;
    padding: 0 2%;
}

.container h1{
    font-size: 60px;
    font-family: 'Arial';
    width: 80%;
    display: inline-block;
}


.perfis{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.perfil{
    width: 11%;
    margin: 10px;
}

.perfil h2{
    font-family: Arial;
    color: gray;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}

.imagem img{
    border: 4px solid rgb(24, 23, 23);
    width: 100%;
    border: 10px;
   
}


.imagem img:hover{
    border: 4px solid white;
}


.botao{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

button{
    text-align: center;
    border: 1px solid rgb(162, 167, 167);
    color: gray;
    background-color: rgb(24, 23, 23);
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-family: arial;
}


button:hover{
    color: white;
    border:1px solid white;
}



@media screen and (max-width:768px){
    
}

   